body{
    background-color:#FCF0F3;
}
header{
    background-color:#CC0000;
}
header h1{
font-family: "Pluto Heavy", sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px;
}
header p{
    color: #fff;
    text-align: center;
    font-family: "Calibri", sans-serif;
    padding: 5px;
    margin: 0;
}
nav{
    text-align: center
}
nav a{
    color: #fff;
    font-family: "Calibri", sans-serif;
    margin:0 10px;
} 
section{
    background-color:#3A96C2;
    border:2px solid #9B2B53;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
}
section h3{
    font-family: "Roboto-medium",serif;
     color: #fff;
}
section p{
    font-family: "Roboto", sans-serif;
    color: #fff;
}

footer{
    background-color:#CC0000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: "segoe UI", sans-serif;
}